@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@300;600&display=swap');

body{
    margin:0;
    padding: 0;
}

/* header fixed on the top */
header{
	top: 0;
	width: 1350px;
	padding-left: 10px;
	z-index: 1;
    font-size: 1.1em;
}

/* logo-heart */
.logo img{
	float: left;
	width: 90px;
	background-color: #fff;
}

/* buttons on the right side */
.navigation {
    display: flex;
    justify-content: flex-end;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 20px;
	color: #3c6845;
}

/* navigation drop  */
/*CSS pour Dropdown menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;

  }
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: #6a9f62;
  }
    
li a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #13be03;
	text-decoration: underline;
  }
  
li.dropdown {
    display: inline-block;
    color: #6a9f62;
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFF;
    color: #6a9f62;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
  }
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #6a9f62;
  }
  
.dropdown-content a:hover {
    border-radius: 5px 5px 5px 5px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }


/* buttons on the right side */
.nav-link {
	float: right;
	display: block;
	color: #6a9f62;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}
/* profil et loupe */
.nav-link img{
    float: left;
    width: 20px;
    height: 20px;
}

/* profil et loupe */
.nav-link:hover {
	background-color: #fff	;
	color: #13be03;
}

/*dropdown menu end*/

/*début faux burger dropdown menu*/
.dropdown_1 > .nav-link{
	float: left;
}

.dropdown_content_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.list_1 {
	display: inline;
    display: inline-block;
	display: flex;
	flex-direction: column;
    text-align: left;
    padding: 14px 16px;
    text-decoration: underline;
	font-family: 'inter';
	color: white;
	background-color: #6a9f62;
  }

  .list_1:hover{
	cursor: pointer;
	background-color: white;
	color: #6a9f62;
	text-decoration: none;
  }

.s2 p, label{
    font-family:'inter';
	height: 7px;
 }

 label{
    color: #3c6845;
}

.s2{
    color: #6a9f62;
	height: 50px;
	width: 60px;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
 }
    
.s2:hover {
    background-color: #6a9f62;
    color: #ffffff;
	cursor: pointer;
  }

.dropbtn_1{
	height: 50px;
	display: flex;
	justify-content: end;
  }

.list_1.dropdown_1 {
    display: inline-block;
  }

.dropdown_content_1 {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px 5px 5px 5px;
  }
  
.dropdown_content_1 #a {
    padding: 12px 16px;
    display: block;
  }
  
.dropdown_1:hover .dropdown_content_1 {
    display: block;
  }

.dropdown_1{
	display: none;
  }
/*fin faux burger dropdown menu*/



h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: #3c6845;
    padding-top: 20px;
}

h3, h2{
    font-family: 'inter';
    text-align: center;
    color: #3c6845;
}
h2{
    background-color: #6cb37a;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0); 
}

h4{font-family: 'inter';
    font-size: 1.8em;
    font-weight: bold;
    color: #6cb37a;
}

p{
    font-family: 'inter';
    font-weight: bold;
    color: #3c6845;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding:20px;
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 90px;
    font-family: 'Noto Serif', serif;
    background-color: #fff;
}

.btn {
    display: inline-block;
    width: 170px;
    height: 50px ;
    
    background-color: #007bff;
    color:#000000;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    border-style:double;
    border-color: #3c6845;
    font-size: 16px;
    text-align: center;
    font-family: 'inter';
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
}

.btn.btn-vegan {
    background-color: #4dc739; /* Couleur pour le bouton Restaurant Vegan */
}

.btn-vegan:hover {
    background-color: #348c27; /* Couleur pour le bouton Restaurant Vegan */
    color: white;
}

.btn.btn-sans-gluten {
    background-color:#f1f442; /* Couleur pour le bouton Restaurant Sans Gluten */
}

.btn-sans-gluten:hover {
    background-color:#bdc032; /* Couleur pour le bouton Restaurant Sans Gluten */
    color: white;
}

.btn.btn-sans-lactose {
    background-color: 	#f85757; /* Couleur pour le bouton Restaurant Diet */
}

.btn-sans-lactose:hover {
    background-color: 	#be4343; /* Couleur pour le bouton Restaurant Diet */
    color: white;
}

.container-map-buttons {
    background-image: url(/img/backgroundcitron.png);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.filtre{
    margin-right: 10px;
}

.btns-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
}
.form {
    background-color: #a4df9a;
    align-content:center ;
    padding: auto;
    border-radius: 30px;
    border-style: none;
}
.valider
{
    background-color: #6a9f62;
    color: white;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width:120px ;
    margin-right: 5px;
}

.valider:hover{
    background-color: #b8f5af;
    color: black;
}
.annuler
{
    background-color: gainsboro;
    border-radius: 20px;
    height: 40px;
    width: 120px ;
    border-style: none;
    margin-left: 5px;
}

.annuler:hover{
    background-color: grey;
    color: white;
}

.valannul{
  margin-left: 150px;

}
input{
    background-color: gainsboro;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    padding: 10px;
}

#titre{
    width: 300px;
    height: 25px;
}

#adresse, #site{
    width: 450px;
    height: 25px;
}

#description{
    width: 450px;
    height: 70px;
}

/* start footer */
.footer {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 80px;
    margin-right: 80px;
    color:#6a9f62; 
                
}

.recettes-question {
    display: flex;
    justify-content: space-between;
    color: #6a9f62;
}

.menu-simple {
    padding: 1rem;
    background: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    color: #4e7948;

}

.menu-simple .fa-brands {
    margin-left: -10px;
    margin-right: 60px;
    color: #6a9f62;
}
.menu-simple .fa-brands:hover{
    color: #1c6113;
}

.bottoms{
    display: flex;
    gap: 450px;	
}

.mail:hover{
    color: #6a9f62;
    cursor: default;
}

.newsletter {
    justify-content: right;
}

.button {
    border: 1px solid;
    color: #46733f;
}


/* Start copyright line  */
.copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
    .copyright span,
    .copyright a {
      color: #878787;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
 }

    .copyright a:hover {
      color:#52c16f; }
  
      .copyright-container{
        width: 100%;
        margin: 0 auto;
        font-family: 'inter';
        background-color: #fff;
      }
      
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

      }
  .copyright-menu ul {
    text-align: right; 
         }
  
  .copyright-menu li {
    display: inline-block;
    padding-left: 20px; }

/* finish footer */

/* input[type=checkbox] {
    background-color: #0056b3;

} */
